.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-bottom: 60px; /* Ajusta la altura del footer según tus necesidades */
}

.footer {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0d3c68;
  color: #a2c3bb;
  padding: 5px;
  text-align: center;
}
